API_SECRET=mysupersecretvalue
DATABASE_URL=postgresql://localhost/go_api_dev?sslmode=disable
SENDGRID_API_KEY=abc
AWS_BUCKET_NAME=go-api-assets
AWS_BUCKET_LOCATION=us-west-2
AWS_ACCESS_KEY=abc
AWS_SECRET=abc
ROOT_URL=http://localhost:8000/
PORTAL_URL=http://localhost:3000/
EMAIL_WHITELIST_PATTERN=eyecue
AIRBRAKE_PROJECT=123
AIRBRAKE_KEY=abc
AIRBRAKE_ENV=development
